*{
    box-sizing: border-box;
}
body{
    background-color: #fffcf2;
    margin:0px;
}

header{
    position: relative;
    top: 34px;
    left: 0;
}

#headerText{
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0;
}

.bannerImage{
    width: 100%;
    opacity: 0.6;
    margin-bottom: 0;
}

nav{
    background-color: black;
    padding: 8px 0px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

nav ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav ul li{
    float: right;
}

nav ul li a{
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 8px 8px;
}

nav li a:hover{
    background-color: white;
    color: black;
}

h1{
    text-align: center;
}

#content{
    position: relative;
    top: 30px;
}

#content p{
    padding-right: 10px;
}