*{
    box-sizing: content-box;
}
body{
    background-color: #fffcf2;
    margin:0px;
}

nav{
    background-color: black;
    padding: 8px 0px;
    overflow: hidden;
    width: 100%;
}

nav ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav ul li{
    float: right;
}

nav ul li a{
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 8px 8px;
}

nav li a:hover{
    background-color: white;
    color: black;
}

h1{
    text-align: center;
}